.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.profile-form {
  position:  relative;
  left: 15%;
  width: 25%;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out; 
}

.profile-form:hover {
  transform: scale(1.05);
}

.list-container {
  position: absolute;
  top: 25%;
  right: 0;
  width: 17%;
  height: 50%;
  overflow-y: auto;
  margin-left: 20px;
  border-left: 1px solid #ddd; 
}
.list-container2 {
  position: absolute;
  top: 25%;
  right: 20%;
  width: 17%;
  height: 50%;
  overflow-y: auto;
  margin-left: 20px;
  border-left: 1px solid #ddd; 
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  margin-bottom: 10px;
  background-color: #f9f9f9;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}
#submit-button{
  width: 92%;
  border: none;
  background-color: #42b72a;
color: white;
}

.list li:hover {
  background-color: #e9e9e9;
}

.add-more {
  width: 25%;
  top: 30%;
  right: 32%;
  position: relative;
}

.add-more button {
  position: relative;
  width: 91%;
  background-color: #42b72a;
  color: #fff; 
  border: none; 
  cursor: pointer; 
  transition: background-color 0.3s ease-in-out; 
}

.add-more button:hover {
  background-color: #36a420; 
}

.add-more input {
  position: relative;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  transition: border-color 0.7s ease-in-out; 
}

.add-more button {
  width: calc(100% - 1px);
}

.add-more input.linked-partner {
  border-color: #42b72a; 
  box-shadow: 0 0 25px rgba(66, 183, 42, 0.8); 
}
.list-container::-webkit-scrollbar {
  width: 10px;
}

.list-container::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
.list-container::-webkit-scrollbar-thumb {
  background: #888; 
}

.list-container::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.add-to-list{
  position: relative;
  bottom: 40%;
  LEFT: 20%;
  
}
.form-control.form-control-lg.form-control-borderless {
  
  width: 95%; 
  
}
.card.card-sm{
width: 190%;
}


