.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .search-form {
    position: relative;
    right: 10%;
    bottom: 35%;
    width: 35%;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;

  }
  .checkbox-container {
    display: flex
  }
  
  .checkbox-div {
    flex: 1;
  }
  .search-list{
    position: relative;
    left: 50%;
    
  }
  
  .pop-names-list li {
    margin-bottom: 15px;
    font-size: 18px;
    
    
  }
  .search-list2{
    position: relative;
    left: 15%;
    font-size: 18px;
   
  }
  .search-list-text{
    font-size: 20px;
    font-size: 18px;
    
  }
  .search-list3{
    position: relative;
    right: 20%;
    font-size: 18px;
    
  }

 
 
 
 
