.home-page{
    height: 100vh;
}
.App {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  :root {
    --background-color: rgb(62, 61, 61);
    --color-text: white;
  }
  
  [data-theme='light'] {
    --background-color: rgb(225, 222, 222);
    --color-text: black
  }
  
  body {
    background: var(--background-color);
    color: var(--color-text);
  }
  .form-check-label{
    font-weight: bolder;
    background: var(--background-color);
    color: var(--color-text);
  }
  .terms-of-service{
    font-size: 22px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
  }
