
.menu{
  width: 10%;
  font-size: 150%;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
.menu {
  width: 11%;
  font-size: 100%;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: -100%; 
  transition: left 0.5s ease-in-out; 
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.menu.show {
  left: 0; 
  transition: left 0.5s ease-in-out; 
}

.menuButton {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.menuButton:hover {
  background-color: #555;
}

.menu a {

  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
  font-size: 16px;
}
.menu a:hover {
  color: #ff105f;
}
@media screen and (max-width: 1116px) {
  .menu a {
    font-size: 10px; 
  }
  .menu {
    width: 20%;
  }
}
  




